@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300;400&family=Krub:wght@400;700&family=Open+Sans&family=PT+Sans:wght@400;700&family=Rubik+Maps&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&family=Open+Sans&family=PT+Sans:wght@400;700&family=Rubik+Maps&family=Staatliches&display=swap');

// Fuentes
$fuente_principal: 'Lato', sans-serif;
$fuente_header: 'Kalnia', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: #2f2c2b;
$secundario: #413726;
$terciario: #79451d;
$cuarto: #d7621a;
$quinto:#f1f1f6;
$sexto: #fd8d32;
$negro: #000000;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$grisPrecio: #aaa7a7;
$grisClaro: #e7e1e1;
$rojo: rgb(169, 0, 0);
$amarillo: rgb(223, 223, 14);
$verde: rgb(0, 120, 0);

$precio: #f2d544;

$separacion: 2rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900