.formulario{

    margin-bottom: 2rem;

    fieldset{
        margin-bottom: 2rem;
    }

    p{
        font-size: 1.4rem;
        color: $primario;
        margin: 2rem 0 0 0;
    }

    legend{
        font-size: 2rem;
        color: $primario;
        font-family: $fuente_header;
        font-weight: bold;
    }

    label{
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        font-family: $fuente_principal;
    }

    input:not([type="submit"]),
    select{
        display: block;
        padding: 1rem;
        width: 100%;
        background-color: $blanco;
        border: 1px solid $primario;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }
}

.acciones{

    margin-bottom: 2.5rem;
    
    @include tablet {
        display: flex;
        justify-content: space-between;
    }

    a{
        font-family: $fuente_header;
        font-weight: 400;
        display: block;
        text-align: center;
        margin-bottom: 1rem;

        @include tablet {
            margin-bottom: 0;
        }

        &:hover{
            color: $cuarto;
        }
    }
}

.mb-2{
    margin-bottom: 5.5rem;
}